@import 'header';
@import 'footer';

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    display: flex;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    transition: margin-left 0.1s ease-in-out;
}

#content {
    display: flex;
    flex: 1;
}

main {
    flex: 1;
    padding: 20px;
    background-color: #685270;
}

.sidebar {
    background-color: rgba(183, 156, 120, 0.895);
    position: fixed;
    left: -250px; // Start off-screen
    top: 0;
    bottom: 0;
    transition: left 0.1s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.sidebar.active {
    left: 0;
    padding: 20px 74px 0px 10px;
}

body.sidebar-active #page-wrapper {
    margin-left: 200px;
}

.sidebar-title {
    margin-top: 0;
    padding: 10px;
}

.sidebar-list {
    list-style-type: none;
    padding: 0;
}

.sidebar-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.new-project-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px 10px 0px 10px;
    border-radius: 3px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.new-project-text {
    margin-right: 10px;
}
